*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(1, 1, 43);
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 60px 1fr 60px;
    gap: 30px;
}

.box{
    color: red;
    background-color: yellow;
    border: 3px solid orangered;
    text-align: center;
}

#box1, #box5{
    grid-column-start: 1;
    grid-column-end: 4;
}

