div{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

#box3{
    position: absolute;
    background-color: red;
    top: 30px;
    left: 50px;
}
